.header-container{
    width:100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 5px 5px 0px rgba(0, 0, 0, 0.1) ;
    background-color: rgba(5, 5, 5, 0.815);

}
.logo-header{
    width: 130px;
    height: 40px;
    margin-left: 20px;
}
.logo-img{
    width: 130px;
    height: 40px;

}
.site-name{
    width: 500px;
    display: flex;
    justify-content: center;
}
.site-name i{
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}
.logo-login{
    font-size: 30px;
    margin-right: 20px;
    padding: 5px 0;
}
.logo-login i{
    margin-right: 15px;
    cursor: pointer;
}
@media(max-width:920px){
    .logo-login {
            font-size: 20px;
        }

}
@media(max-width:760px) {

    .site-name {
            width: 300px;
        }
}
@media(max-width:560px) {

    .site-name {
        display: none;
    }

}